{% extends 'discount/base.html' %}
{% load static %}
{% block content %}

<div class="page_container">
    	<div class="wrap">
        	<div class="breadcrumb">
				<div>
					<a href="index.html">Home</a><span>/</span>Contact
				</div>
			</div>
			<div class="container">
                <section>
                	<div class="row">
                    	<div class="span4">
                        	<h2 class="title">Contact Info</h2>
                            <div id="map"><iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ade89d2cd99319b0156f9689c3a48b781bad1de5c04de7947b02809e1ef1178bf&amp;source=constructor" width="895" height="685" frameborder="0"></iframe></div>
                            <p>3896 Kenwood Place<br/>Fort Lauderdale, FL 33301</p>
                            <p>Phone: 1-500-677-5694<br/>Fax: 1-500-256-2768<br/>Email: <a href="mailto:#">info@yoursitename.com</a><br/>Web: <a href="#">http://yoursitename.com</a></p>
                        </div>
                    	<div class="span8">
                        	<h2 class="title">Get In Touch</h2>
                            <div class="contact_form">
                            	<div id="note"></div>
                                <div id="fields">
                                    <form id="ajax-contact-form" action="">
                                        <input class="span7" type="text" name="name" value="" placeholder="Name (required)" />
                                        <input class="span7" type="text" name="email" value="" placeholder="Email (required)" />
                                        <input class="span7" type="text" name="subject" value="" placeholder="Subject" />
                                        <textarea name="message" id="message" class="span8" placeholder="Message"></textarea>
                                        <div class="clear"></div>
                                        <input type="reset" class="contact_btn" value="Clear form" />
                                        <input type="submit" class="contact_btn" value="Submit" />
                                        <div class="clear"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                	</div>
                </section>
            </div>
        </div>
    </div>

{% endblock %}