{% extends 'discount/base.html' %}
{% load static %}
{% block content %}


<h2 class="title">Our Team</h2>

                    <p>Шишкина 299</p>

                    {% for master in masters %}

                	<div class="row">
                        <div class="span3">
                            <div class="profile">
                            	<img alt="" src="{{ master.photo.url }}">
                                <h4>{{ master.name}}</h4>
                                <div class="profile_title">Business Analyst</div>
                                <p>Praesent vestibulum molestie lacus. Aenean noy hendrerit mauris. Phasellus porta. Fusce suscipit.</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

<!--

{% endblock %}